.App {
  text-align: center;
  height: 100vh;
}

.logo {
  animation: logo-spin infinite 20s linear;
  pointer-events: none;
  margin-left: 20px;
}

.title{
  margin-left: 10px;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter_col_1, .gutter_col_2 {
  cursor: col-resize;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: justify;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  color: #b318f0;
}

.navbar_status {
  position: absolute;
  right: 1rem;
  background-color: #ffc919;
  border: 1px solid black;
}

.navbar_status_header {
  padding: 0.3rem;
  font-size: 10px;
}

.leftpanel {
  flex: 1.5; /* 20% */
  margin-left: 1rem;
  margin-top: 1.5rem;
}
.rightpanel {
  flex: 1; /* 20% */
  margin: 1.5rem;
}
.main {
  display: flex;
  flex-direction: row;
  height: 90vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.controlheader{
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

.telemetryheader{
  text-align: left;
  font-size: 13px; 
  font-weight: bold;
}

.profile{
  margin-top: 1rem;
}
.profileName {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border: none;
  background-color: white;
  resize: none;
  outline: none;
}

.profileBioContent {
  font-size: 12px;
  border: none;
  background-color: white;
  resize: none;
  outline: none;
}
.profileBio{
  text-align: left;
  margin-bottom: 1rem;
}

.profileBioTitle {
  font-size: 12px;
  font-weight: bold;
}



.profileTraitsTitle {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
