.master-container {
    border-left: 5px solid rgb(42, 184, 255);
}

.content{
    margin-left: 1.5rem;
    margin-top: 1rem;
    text-align: left;
    width: 100%
}

.content-header{
    font-size: 12px;
    font-weight: bold; /* TODO adjust boldness */
}
.content-text{
    font-size: 12px;
}

.content-placeholder{
    color: #999;
    font-size: 12px;
}

.content-clear-text{
    color: #999;
    font-size: 12px;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    padding: 0;
    margin-top: 1rem;
}

.prompt-input {
    border: none;
    outline: none;
    font-family: 'Your Preferred Font', sans-serif;
    font-size: 12px;
    font-weight: normal;
    width: calc(100% - 3rem); 
    resize: none;
    overflow-y: auto;
}

.prompt-input::placeholder {
    color: #999;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.controls {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%
}

.controls-reset {
    text-align: left;
    margin-right: 0.5rem;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}
