body {
    font-family: Arial, sans-serif;
}
/*TODO put all headers under one class*/
.header-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left:1rem;
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-weight: bold;
}

.cells-container {
    margin-bottom: 10rem;
}
.playground-clear {
    display: inline-block;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    width: fit-content;
}
.playground-container {
    flex: 6;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.chats-container { 
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.message-send {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.message-send-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0.5rem;
    border-radius: 10px;
}

.send-button svg {
    width: 25px;
    height: 25px;
    fill: #000;
}

.send-button {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 12px;
    padding: 7px;
    margin-right: 0.5rem;
}
.prompt-input {
    flex: 1; /* Add this line to make the textarea fill the remaining space */
    margin-right: 10px; /* Add some spacing between the textarea and button */
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
}

.header-model{
    position: absolute;
    right: 2rem;
    font-size: 12px;
    font-weight: normal;
    color:#939393;
    display: flex;
    flex-direction: row;
}

/* chaty msg stuff*/

.message {
    display: flex;
    flex-direction: column;
    margin: 0.69rem;
    text-align: left;
    width: 100%
}

.role, .content {
    text-align: left;
}

.chat-baseline {
    width: 50%;
    height: 100%; 
    border-left: 1px solid #333;
    border-right: 0px solid #333;
    border-top: 1px solid #333;
    border-top-left-radius: 10px;
    overflow: hidden;
}
.chat-control {
    width: 50%;
    height: 100%; 
    border-left: 0.5px solid #333;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    border-top-right-radius: 10px; 
    overflow: hidden;
}
/*baseline is left*/
.chat-baseline-inner {
    width: 100%;
    height: 98%;
    color: #333;
    overflow-x: hidden;
    overflow-y: auto;
} 

.chat-collapse { 
    font-size: 11px
}
/*control is right*/
.chat-control-inner{
    width: 100%;
    height: 98%;
    color: #333;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-role {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0.3rem;
}

.message-content {
    font-size: 14px;
    word-break: break-all;
}
.error-content{
    font-size: 14px;
    color: red;
}
.chat-header{
    display: flex;
    flex-direction: row;
    height: 2%;
    text-align: center;
    padding: 0.3rem;
    font-size: 12px;
    font-weight: bold;
    color: #939393;
}

.chat-collapse{
    left: 1rem;
}

.chat-header-text {
    flex-grow: 1;
    text-align: center;
}

.ctrls-tag{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.tag {
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem;
    background-color:#f1f1f1;
    padding: 0.3rem;
    border-radius: 3px;
}
.tag-name{
    font-size: 9px;
    align-items: center;
    display: flex; /* Add this line */
    font-weight: bold;
}

.tag-coeff{
    font-size: 9px;
    margin-left: 0.2rem;
    font-weight: bold;
}

.tag-color {
    margin-right: 0.3em; /* Add margin to the right of the SVG circle */
}

.chat-collapse img {
    width: 10px;
    height: 10px;
    cursor:pointer
}