.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%
  }
  
  .slider-name {
    text-align: left;
    margin-top: 0.5rem;
    font-size: 12px;
    align-self: flex-start; /* Add this line */
  }
  
  .slider-bar {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    flex-grow: 1;
    height: 20px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    background-color: #eee;
    cursor: pointer;
  }
  
  .slider-fill {
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
  }
  
  .slider-value {
    border-radius: 5px;
    height: 15px;
    align-content: center;
    text-align: center;
    font-size: 10px;
  }
  
  .slider{
    width: 100%
  }
  
  .slider-container-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
  }